html {
    font-size: 15pt;
    box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
ol, ul, li {
	list-style: none;
    height:inherit;
    line-height:inherit;
}
body, header, nav, main, section, article, aside, details, figcaption, figure, footer, hgroup,dl,dt,dd,ol,ul,li {
	display:block;
	margin:0;
	padding:0;
	border:0;
}
.menu a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration:none;
}
.menu a:hover {
    color: rgb(255,255,255);
}

/** Layout */
header{
    height:2em;
    background-color:royalblue;
}
nav {
    height:3em;
    line-height:3em;
    /*background-image:url(/img/bg.svg);*/
    background-position:top right;
    background-repeat:no-repeat;
    background-size:100%;
    background-color:royalblue;
}
section{
    padding:1em;
}
aside{
    background-color: lightgray;
    padding:0.5em;
}
footer{
    clear:both;
    height:5em;
    text-align:center;    
    color:rgba(255, 255, 255, 0.5);
    background-color:royalblue;
}
footer ul {
    height:inherit;
    line-height:inherit;
}

@-ms-viewport {
	width: device-width;
}
@media screen and (max-width: 480px) {
    /** 모바일 세로 */
    html {font-size: 14pt;}
}
@media screen and (max-width: 736px) {
    /** 모바일 가로, 타블렛 세로 */    
    nav {display:none}
}
@media screen and (max-width: 1024px) {
    /** 타블렛 가로, 노트북 */
    header{display:none;}
}
@media screen and (max-width: 1280px) {
    /** 타블렛 가로, 노트북 */
    aside {display:none;}
    nav ul.menu {
        display:flex;flex-direction:row;
        justify-content:center;
    }
    nav ul.menu li {min-width:90px;text-align:center;}
}
@media screen and (min-width: 1281px) {
    /** 타블렛 가로, 노트북 */
    nav {
        width:20%; 
        height:100vh;
        text-align:right;
        float:left;
    }
    nav ul.menu {
        display:flex;flex-direction:column;
        justify-content:right;
    }
    nav ul.menu li {
        height:3em;
        line-height:3em;
        padding:0em 1em;
    }
    section {
        width:65%;
        height:100vh;
        float:left;
    }
    aside {width:15%;height:100vh;float:right;}
}