html {
    font-size: 15pt;
    box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
a {
    text-decoration:none;
}
ul,li,ol,dl,dt,dd {
	list-style: none;
}
body, header, nav, main, section, article, aside, details, figcaption, figure, footer, hgroup,dl,dt,dd,ol,ul,li {
	display:block; margin:0 auto; padding:0; border:0;
}
/** Layout */
header, footer, nav{
    height:3em;
    background-color:royalblue;
}
section, aside{
    padding:1em;
}
footer{
    clear:both;
    text-align:center;
}

@-ms-viewport {
	width: device-width;
}
@media screen and (max-width: 480px) {/** 모바일 세로 */
    html {font-size: 14pt;}
}
@media screen and (max-width: 736px) {/** 모바일 가로, 타블렛 세로 */
    nav ul{max-width:100%}
}
@media screen and (max-width: 1024px) {/** 타블렛 가로, 노트북 */
    header {display:none;}
}
@media screen and (max-width: 1280px) {/** 타블렛 가로, 노트북 */
    nav {height:3em;}
    nav ul{
        max-width:80%;
        height:inherit;
        display:flex;
        align-items:center;
    }
    aside {display:none;}
}
@media screen and (min-width: 1281px) {
    /** 타블렛 가로, 노트북 */
    nav {
        width:20%; height:90vh;
        float:left;
    }
    section {
        width:65%;
        float:left;
    }
    aside {
        width:15%;
        float:right;
    }
    nav#menu ul {
        width:80%;
        display:flex;
        flex-direction:column;
    }
    nav#menu li {
        width:100%;
        height:3em;
        line-height:3em;
        text-align:right;
    }
}